
name: Deploy Azure Infrastructure with Terraform

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        working-directory: RootModule
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: RootModule
        run: |
          terraform plan -input=false -out=tfplan
          terraform show -json tfplan > tfplan.json

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: |
            RootModule/tfplan
            RootModule/tfplan.json
            RootModule/.terraform.lock.hcl

  terraform-apply:
    runs-on: ubuntu-latest
    needs: terraform-plan
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Download Terraform Plan
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan
          path: RootModule

      - name: Terraform Init
        working-directory: RootModule
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: RootModule
        run: terraform apply -input=false -auto-approve tfplan
